:root {
  --myborder: solid;
  --padding-main: 5%;
  --top-bottom: 2em auto;
  --top-bottom-right: 30px;
}

html {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#body-complete {
  background-color: rgb(177, 215, 184);
  width: fit-content;
  border: solid;
  padding: 10px;
}

body > * > * {
  background-color: beige;
  margin: 10px;
  border: var(--myborder);
  margin-left: 0px;
}
span {
  border: solid;
  font-size: 1em;
  padding: 5px;
  margin: var(--top-bottom-rigth);
}

#div-wrap {
  width: fit-content;
  height: fit-content;
}

#ergebnis {
  width: fit-content;
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}

#input-vermutung {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
  height: 3em;
}

#aZZ {
  padding-left: var(--padding-main);
  font-size: 0.8em;
  height: 3em;
}

.zz {
  margin: auto 5px;
}

#btn-send {
  height: 3em;
}

.hover-text {
  position: absolute;
  display: none;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  pointer-events: none;
}
